@media screen and (max-width: 600px){
    .logo-image{
        width: 100px;
    }
    .footer-content {
        float: none !important;
        text-align: center !important;
    }
}
.main-content{
    background-color: #6e99ba;
}
.username-block{
    text-align: center;
    height: 300px;
    padding-top: 15px;
    margin-bottom: 22px;
}
#twitter-widget-0{
    margin-top: 20px !important;
}
.forms-background{
    background-color: #dfe0e2 !important;
}
.icon-container{
    position: relative;
}
.input-icon.input-icon-right > .ace-icon {
    left: auto;
    right: 15px;
}
.white-text{
    color: white !important;
}
.blue-text{
    color: blue;
}

#accordion-wrapper{
    padding-top: 60px;
}
#bookmakers-wrapper{
    padding-top: 30px;
}
#accordion{
    visibility: hidden;
}
#accordion h3{
    font-weight: 700;
    cursor: pointer;
}
#accordion div{
    background-color: #F9F9F9;
}

#terms, #privacy, #cookiepolicy, #contactus, #sitenotice{
    background-color: #F9F9F9;
    padding: 30px 50px 30px 50px;
}
@media screen and (max-width: 600px) {
    #terms, #privacy, #cookiepolicy, #contactus, #sitenotice{
        background-color: #F9F9F9;
        padding: 30px 10px 30px 10px;
    }
}
#terms a, #privacy a, #cookiepolicy a, #contactus a, #sitenotice a{
    color: #6e99ba;
}
#terms > h2, #privacy > h2, #cookiepolicy > h2, #contactus > h2, #sitenotice > h2{
    font-weight: 700;
    text-align: center;
    padding: 10px 0 20px 0;
}

/*Message text area*/
.contact-fields{
    padding-right: 27px !important;
}
#message{
    resize: none;
    height: 70px;
}
.contact-form-icon{
    float: right;
    color: gray;
    margin: -24px 10px 0 0;
}
/*Message text area*/

.badge-primary{
    display: none;
}


.bookmakers-wrapper-title{
    font-size: 31px;
    color: gainsboro;
    float: left;
    margin-right: 100px;
}
#bookmakers-wrapper hr{
    color: white;
    border-top: 1px dotted white;
}
.bookmakersBlock, .bookmakerComments, .bookmakerProperties, .bookmakerRating, .bookmakerName, .bookmakerNumber{
    border: 1px solid white;
    height: 200px;
}
.bookmakersBlock{
    background-color: #FFE08D;
}
.bookmakerRatingText{
    line-height: 150px;
    font-size: 30px;
    text-align: center;
}
#rateYo{
    margin: 0 auto;
}
.bookmakerName{
    padding-top: 65px;
    text-align: center;
}
.bookmakerNumber{
    line-height: 200px;
    font-size: 20px;
    text-align: center;
}

.blue-butt{
    margin-top: 30px;
    background: darkblue;
    color: white;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px;
}
.bookmaker-sort{
    width: 150px !important;
}
.bookmakerPropertiesVotes{
    background-color: darkorange;
    color: white;
    padding: 0 10px;
}
.bookmakerPropertiesList{
    list-style-type: none;
    margin-top: 35px;
    width: 100%;
}

.bookmakerDetailsTitle{
    background: lightgray;
}
.bookmakerDetailsIconChecked{
    color: green;
    font-size: 30px;
}
.bookmakerDetailsIconNotchecked{
    color: darkred;
    font-size: 30px;
}
.bookmakerLogo{
    margin: 10px 0 20px 0;
}
.bookmakerDetailsContent{
    margin: 10px;
}
.sortByForm{
    width: 180px;
    display: inline-block;
}


/*Admin panel*/
#editBookmakerForm, #deleteBookmakerForm{
    float: right;
}

/*Bookmakers logos*/
.b-logo{
    background-image: url(../images/bm.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin: 2px 0px 0 10px;
}
.logo-unibet{
    width: 75px;
    height: 16px;
    background-position: -160px -102px;
}
.logo-xbet{
    width: 75px;
    height: 16px;
    background-position: -81px -22px;
}
.logo-betathome{
    width: 75px;
    height: 16px;
    background-position: -239px -322px;
}
.logo-betadonis{
    width: 75px;
    height: 16px;
    background-position: -318px -302px;
}
/*End bookmakers logos*/